@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.config_box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.config_box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.config_box h3 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.config_box .config-box__elements {
    position: relative;
}

.config_box .config-box__elements input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.config_box .config-box__elements label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.label {
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
}

.config_box .config-box__elements input:focus ~ label,
.config_box .config-box__elements input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.config-box__Btn {
    font-family: "Roboto Thin", sans-serif;
    position: relative;
    display: inline-block;
    left: 25%;
    padding: 10px 20px;
    background-color: #141e30;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 1px;
}

.result-box__Btn {
    font-family: "Roboto Thin", sans-serif;
    position: relative;
    display: inline-block;
    left: 46%;
    padding: 10px 20px;
    background-color: #141e30;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 1px;
}

/*#config-box__speedBtn:after {
    content: "\f641";
    font-family: "Font Awesome 5 Free";
}*/

.result {
    text-align: center;
    color: whitesmoke;
}

.result-time {
    border: 2px solid lightslategray;
    border-bottom: none;
    width: 200px;
    height: 15px;
    text-align: left;
    padding: 5px;
}

.result-selector {
    border: 2px solid lightslategray;
    border-bottom: none;
    border-left: none;
    width: 300px;
    height: 15px;
    text-align: left;
    padding: 5px;
}

.result-box {
    display: flex;
    justify-content: center;
}

.result-box:last-child div {
    border-bottom: 2px solid lightslategray;
}

.config-box__textArea {
    color: #03e9f4;
    background-color: #141e30;
    width: 100%;
    height: 220px;
}

.warning-text {
    color: orangered;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}